* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    font-family: 'Potta One', cursive;
}

nav {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #272822;
    color: #fff;
    height: 72px;
}

.logo {
    width: 30px;
    padding: 0 2rem;
}

.logo img {
    width: 2rem;
    /* background-color: #fff; */
    margin-top: 10px;
    color: #fff;
}

.container {
    /* background-color:goldenrod; */
    width: 50vw;
    padding: 2rem 0;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.toolbar-item button{
    cursor: pointer !important;
    color: #fff !important;
    border: 1px solid #000 !important;
    border-radius: 10px !important;
    padding: 5px 15px !important;
    /* background-color: none !important; */
}