* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5d9d5;
    font-family: "Nunito", sans-serif;
}

#mainNavbar .nav-link {
    /* Make the color real white */
    color: #fa2771;
}

#mainNavbar .nav-link:hover {
    /* Make the color red on hover */
    color: black;
}


#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavbar .navbar-brand {
    /* Make the color of navbar-brand red */
    color: #ea1c3c;
}

#headingGroup span{
    color: #ea1c3c;
}
#headingGroup h1{
    font-weight: 100;
    font-size: 4rem;
}

.navbar.scrolled{
    background: rgb(222,121);
}
p{
    color: #fa2771;
}
/* A media query to shrink h1 when screen size becomes less than 1200px */
@media (max-width: 1200px){
    #headingGroup h1{
        font-weight: 100;
        font-size: 3rem;
    }
}